.maincontainer{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
}
.button1{
    width:200px;
    height: 70px;
}
.button2{
    font-size: 25px;
    font-weight: bold;
    width:100px;
    height: 70px;
}

.button2_1{
    font-size: 40px;
}

.button1{
    width:200px;
    height: 70px;
}

.button3{
    width: 300px;
}
.btn-background{
    background-color:blanchedalmond;
}

.button2:hover{
    background-color: rgb(243, 208, 166);
}

.valuecontainer{
    background-color: black;
    width: 400px;
    height: 80px;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

}

